In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('test.db')
cur = con.cursor()

In [ ]:
chi_nhanh = [
    ('C01', 'Chi nhánh 1', 'N08', '2006/02/16'),
    ('C02', 'Chi nhánh 2', 'N04', '2005/12/10'),
    ('C03', 'Chi nhánh 3', 'N02', '2004/03/07'),
]
cur.executemany("INSERT INTO CHI_NHANH VALUES (?, ?, ?, ?)", chi_nhanh)
con.commit()

In [15]:
cur.execute("SELECT * FROM CHI_NHANH")
for row in cur.fetchall():
    print(row)

('C01', 'Chi nhánh 1', 'N08', '2006/02/16')
('C02', 'Chi nhánh 2', 'N04', '2005/12/10')
('C03', 'Chi nhánh 3', 'N02', '2004/03/07')

In [21]:
thanh_pho = [
    ('01', 'Hà Nội'),
    ('02', 'TPHCM'),
    ('03', 'Đà Nẵng'),
    ('04', 'Cần Thơ')
]
cur.executemany("INSERT INTO thanh_pho VALUES (?, ?)", thanh_pho)
con.commit()

In [22]:
cur.execute("select * from thanh_pho")
for row in cur.fetchall():
    print(row)

('01', 'Hà Nội')
('02', 'TPHCM')
('03', 'Đà Nẵng')
('04', 'Cần Thơ')

In [26]:
nhan_vien = [
    ('N01', 'Trần Ngọc', 'An', 'Nam', '1965-11-10', 4500000, 'C03', 'N02'),
    ('N02', 'Lưu An', 'Tư', 'Nam', '1980-12-10', 5200000, 'C03', None),
    ('N03', 'Lý Thanh', 'Ngọc', 'Nữ', '1988-09-25', 4300000, 'C02', 'N04'),
    ('N04', 'Lê Kim', 'Oanh', 'Nữ', '1975-06-22', 5000000, 'C02', None),
    ('N05', 'Lý Văn', 'Năm', 'Nam', '1988-03-07', 4800000, 'C03', 'N02'),
    ('N06', 'Nguyễn Thị', 'Chín', 'Nữ', '1968-07-16', 3200000, 'C03', 'N05'),
    ('N07', 'Lê Văn', 'Bốn', 'Nam', '1970-07-18', 4500000, 'C02', 'N04'),
    ('N08', 'Lê Hùng', 'Sư', 'Nam', '1965-12-25', 6500000, 'C01', None)
]
cur.executemany("INSERT INTO nhan_vien VALUES (?,?,?,?,?,?,?,?)", nhan_vien)
con.commit()

In [24]:
cur.execute("delete from nhan_vien")
con.commit()

In [27]:
cur.execute('select * from nhan_vien')
for row in cur.fetchall():
    print(row)

('N01', 'Trần Ngọc', 'An', 'Nam', '1965-11-10', 4500000.0, 'C03', 'N02')
('N02', 'Lưu An', 'Tư', 'Nam', '1980-12-10', 5200000.0, 'C03', None)
('N03', 'Lý Thanh', 'Ngọc', 'Nữ', '1988-09-25', 4300000.0, 'C02', 'N04')
('N04', 'Lê Kim', 'Oanh', 'Nữ', '1975-06-22', 5000000.0, 'C02', None)
('N05', 'Lý Văn', 'Năm', 'Nam', '1988-03-07', 4800000.0, 'C03', 'N02')
('N06', 'Nguyễn Thị', 'Chín', 'Nữ', '1968-07-16', 3200000.0, 'C03', 'N05')
('N07', 'Lê Văn', 'Bốn', 'Nam', '1970-07-18', 4500000.0, 'C02', 'N04')
('N08', 'Lê Hùng', 'Sư', 'Nam', '1965-12-25', 6500000.0, 'C01', None)

In [38]:
vp_cn = [
    ('C01', '01'),
    ('C02', '02'),
    ('C03', '03'),
    ('C03', '04'),
    ('C03', '01')
]
cur.executemany("insert into vphong_cn values (?, ?)", vp_cn)
con.commit()

In [39]:
cur.execute('select * from vphong_cn')
for row in cur.fetchall():
    print(row)

('C01', '01')
('C02', '02')
('C03', '03')
('C03', '04')
('C03', '01')

In [40]:
cong_trinh = [
    ('CT01', 'Công trình số 1', '2007/03/07', '2007/05/15', '03', 'C03'),
    ('CT02', 'Công trình số 2', '2007/02/16', '2007/05/15', '04', 'C03'),
    ('CT03', 'Công trình số 3', '2006/07/16', '2007/07/18', '01', 'C03'),
    ('CT04', 'Công trình số 4', '2008/07/18', '2008/12/25', '02', 'C02'),
    ('CT05', 'Công trình số 5', '2008/06/22', '2008/12/25', '01', 'C01'),
    ('CT06', 'Công trình số 6', '2009/06/22', '2009/12/10', '02', 'C02')
]
cur.executemany("INSERT INTO cong_trinh VALUES (?, ?, ?, ?, ?, ?)", cong_trinh)
con.commit()

In [41]:
cur.execute('select * from cong_trinh')
for row in cur.fetchall():
    print(row)

('CT01', 'Công trình số 1', '2007/03/07', '2007/05/15', '03', 'C03')
('CT02', 'Công trình số 2', '2007/02/16', '2007/05/15', '04', 'C03')
('CT03', 'Công trình số 3', '2006/07/16', '2007/07/18', '01', 'C03')
('CT04', 'Công trình số 4', '2008/07/18', '2008/12/25', '02', 'C02')
('CT05', 'Công trình số 5', '2008/06/22', '2008/12/25', '01', 'C01')
('CT06', 'Công trình số 6', '2009/06/22', '2009/12/10', '02', 'C02')

In [42]:
phan_cong = [
    ('N01', 'CT01', '18'),
    ('N01', 'CT02', '30'),
    ('N05', 'CT03', '20'),
    ('N06', 'CT04', '26'),
    ('N06', 'CT05', '12'),
    ('N02', 'CT01', '12'),
    ('N02', 'CT06', '20'),
    ('N02', 'CT02', '18'),
    ('N02', 'CT03', '22'),
    ('N02', 'CT04', '32'),
    ('N02', 'CT05', '16'),
    ('N03', 'CT06', '8'),
    ('N03', 'CT04', '28'),
    ('N07', 'CT04', '12'),
    ('N07', 'CT06', '32'),
    ('N04', 'CT06', '24'),
    ('N04', 'CT05', '16'),
    ('N08', 'CT05', '18')
]
cur.executemany('insert into phan_cong values (?, ?, ?)', phan_cong)
con.commit()

In [43]:
cur.execute('select * from phan_cong')
for row in cur.fetchall():
    print(row)

('N01', 'CT01', 18)
('N01', 'CT02', 30)
('N05', 'CT03', 20)
('N06', 'CT04', 26)
('N06', 'CT05', 12)
('N02', 'CT01', 12)
('N02', 'CT06', 20)
('N02', 'CT02', 18)
('N02', 'CT03', 22)
('N02', 'CT04', 32)
('N02', 'CT05', 16)
('N03', 'CT06', 8)
('N03', 'CT04', 28)
('N07', 'CT04', 12)
('N07', 'CT06', 32)
('N04', 'CT06', 24)
('N04', 'CT05', 16)
('N08', 'CT05', 18)

In [ ]:
than_nhan = [
    ('N01', 'Trần Đình Toàn','1980/11/30','Nam','Con'),
    ('N03', 'Lý Vệ','1990/01/30', 'Nam', 'Anh Ruột'),
    ('N03', 'Lý Ngọc Nữ','1980/03/30', 'Nữ', 'Chị ruột'),
    ('N06', 'Nguyễn A','1981/11/11', 'Nam', 'Con'),
    ('N08', 'Lê Lựu','1983/05/30', 'Nam', 'Con nuôi')
]
cur.executemany('insert into than_nhan values (?, ?, ?, ?, ?)', than_nhan)
con.commit()

In [8]:
cur.execute('select * from than_nhan')
for row in cur.fetchall():
    print(row)

('N01', 'Trần Đình Toàn', '1980/11/30', 'Nam', 'Con')
('N03', 'Lý Vệ', '1990/01/30', 'Nam', 'Anh Ruột')
('N03', 'Lý Ngọc Nữ', '1980/03/30', 'Nữ', 'Chị ruột')
('N06', 'Nguyễn A', '1981/11/11', 'Nam', 'Con')
('N08', 'Lê Lựu', '1983/05/30', 'Nam', 'Con nuôi')

In [3]:
#a)
cur.execute("select nhan_vien.manv, chi_nhanh.tencn from nhan_vien join chi_nhanh on nhan_vien.macn = chi_nhanh.macn where '4 000 000' <= nhan_vien.mucluong <= '5 000 000'")
for row in cur.fetchall():
    print(row)

('N01', 'Chi nhánh 3')
('N02', 'Chi nhánh 3')
('N03', 'Chi nhánh 2')
('N04', 'Chi nhánh 2')
('N05', 'Chi nhánh 3')
('N06', 'Chi nhánh 3')
('N07', 'Chi nhánh 2')
('N08', 'Chi nhánh 1')

In [4]:
#b) danh sach tat ca nhan vien nu tren 40 tuoi
cur.execute("select * from nhan_vien where phai = 'Nữ' and strftime('%Y', 'now') - strftime('%Y', ngaysinh) > 40")
for row in cur.fetchall():
    print(row)

('N04', 'Lê Kim', 'Oanh', 'Nữ', '1975-06-22', 5000000.0, 'C02', None)
('N06', 'Nguyễn Thị', 'Chín', 'Nữ', '1968-07-16', 3200000.0, 'C03', 'N05')

In [5]:
# c)Danh sách tất cả những nhân viên nữ trên 40 tuổi
cur.execute("select cong_trinh.tenct, * from cong_trinh join chi_nhanh on cong_trinh.macn = chi_nhanh.macn order by cong_trinh.macn")
for row in cur.fetchall():
    print(row)

('Công trình số 5', 'CT05', 'Công trình số 5', '2008/06/22', '2008/12/25', '01', 'C01', 'C01', 'Chi nhánh 1', 'N08', '2006/02/16')
('Công trình số 4', 'CT04', 'Công trình số 4', '2008/07/18', '2008/12/25', '02', 'C02', 'C02', 'Chi nhánh 2', 'N04', '2005/12/10')
('Công trình số 6', 'CT06', 'Công trình số 6', '2009/06/22', '2009/12/10', '02', 'C02', 'C02', 'Chi nhánh 2', 'N04', '2005/12/10')
('Công trình số 1', 'CT01', 'Công trình số 1', '2007/03/07', '2007/05/15', '03', 'C03', 'C03', 'Chi nhánh 3', 'N02', '2004/03/07')
('Công trình số 2', 'CT02', 'Công trình số 2', '2007/02/16', '2007/05/15', '04', 'C03', 'C03', 'Chi nhánh 3', 'N02', '2004/03/07')
('Công trình số 3', 'CT03', 'Công trình số 3', '2006/07/16', '2007/07/18', '01', 'C03', 'C03', 'Chi nhánh 3', 'N02', '2004/03/07')

In [6]:
#d)Danh sách mã số, họ tên và ngày nhậm chức của người phụ trách của từng chi nhánh
cur.execute("select chi_nhanh.manvptr, nhan_vien.honv, nhan_vien.tennv, nhan_vien.macn, chi_nhanh.tencn, chi_nhanh.ngaynhamchuc from nhan_vien join chi_nhanh on nhan_vien.macn = chi_nhanh.macn where nhan_vien.manv = chi_nhanh.manvptr")
for row in cur.fetchall():
    print(row)

('N02', 'Lưu An', 'Tư', 'C03', 'Chi nhánh 3', '2004/03/07')
('N04', 'Lê Kim', 'Oanh', 'C02', 'Chi nhánh 2', '2005/12/10')
('N08', 'Lê Hùng', 'Sư', 'C01', 'Chi nhánh 1', '2006/02/16')

In [7]:
#e)Danh sách mã số, họ tên nhân viên, mã công trình và tên công trình mà trong đó nhân viên tham gia công trình với thời gian làm việc hơn 25 giờ/tuần.
cur.execute("""select nhan_vien.manv, nhan_vien.honv, nhan_vien.tennv, phan_cong.mact, phan_cong.sogiotuan, cong_trinh.tenct from nhan_vien
            join phan_cong on nhan_vien.manv = phan_cong.manv
            join cong_trinh on phan_cong.mact = cong_trinh.mact
            where phan_cong.sogiotuan > 25""")
for row in cur.fetchall():
    print(row)

('N01', 'Trần Ngọc', 'An', 'CT02', 30, 'Công trình số 2')
('N06', 'Nguyễn Thị', 'Chín', 'CT04', 26, 'Công trình số 4')
('N02', 'Lưu An', 'Tư', 'CT04', 32, 'Công trình số 4')
('N03', 'Lý Thanh', 'Ngọc', 'CT04', 28, 'Công trình số 4')
('N07', 'Lê Văn', 'Bốn', 'CT06', 32, 'Công trình số 6')

In [8]:
#f)Danh sách mã số và tên của những công trình do các chi nhánh khác nhau thi công nhưng lại ở cùng thành phố. Mỗi cặp chỉ liệt kê 1 lần, ví dụ đã liệt kê (i, j) thì không liệt kê lại (j, i).
cur.execute("""select ct1.mact, ct1.tenct, ct2.mact, ct2.tenct from cong_trinh as ct1, cong_trinh as ct2 where ct1.macn <> ct2.macn and ct1.matp = ct2.matp and ct1.mact < ct2.mact""")
for row in cur.fetchall():
    print(row)

('CT03', 'Công trình số 3', 'CT05', 'Công trình số 5')

In [9]:
#g)Danh sách những mã số và tên công trình có địa điểm (thành phố) trùng với thành phố của chi nhánh phụ trách thi công.
cur.execute("select ct.mact, ct.tenct from cong_trinh as ct join vphong_cn as vpcn on ct.macn = vpcn.macn where vpcn.matp = ct.matp")
for row in cur.fetchall():
    print(row)

('CT01', 'Công trình số 1')
('CT02', 'Công trình số 2')
('CT03', 'Công trình số 3')
('CT04', 'Công trình số 4')
('CT05', 'Công trình số 5')
('CT06', 'Công trình số 6')

In [10]:
#h)Danh sách họ tên nhân viên và họ tên người phụ trách chi nhánh của mỗi nhân viên.
cur.execute("select nv1.honv, nv1.tennv, nv2.honv, nv2.tennv from nhan_vien as nv1, nhan_vien as nv2 join chi_nhanh as cn on cn.macn = nv1.macn where cn.manvptr = nv2.manv and nv1.tennv <> nv2.tennv")
for row in cur.fetchall():
    print(row)

('Trần Ngọc', 'An', 'Lưu An', 'Tư')
('Lý Thanh', 'Ngọc', 'Lê Kim', 'Oanh')
('Lý Văn', 'Năm', 'Lưu An', 'Tư')
('Nguyễn Thị', 'Chín', 'Lưu An', 'Tư')
('Lê Văn', 'Bốn', 'Lê Kim', 'Oanh')

In [11]:
#i)Danh sách họ tên nhân viên và tên các công trình mà nhân viên có tham gia, nếu có
cur.execute("select nv.honv, nv.tennv, ct.tenct from nhan_vien as nv join cong_trinh as ct on ct.macn = nv.macn")
for row in cur.fetchall():
    print(row)

('Trần Ngọc', 'An', 'Công trình số 1')
('Trần Ngọc', 'An', 'Công trình số 2')
('Trần Ngọc', 'An', 'Công trình số 3')
('Lưu An', 'Tư', 'Công trình số 1')
('Lưu An', 'Tư', 'Công trình số 2')
('Lưu An', 'Tư', 'Công trình số 3')
('Lý Thanh', 'Ngọc', 'Công trình số 4')
('Lý Thanh', 'Ngọc', 'Công trình số 6')
('Lê Kim', 'Oanh', 'Công trình số 4')
('Lê Kim', 'Oanh', 'Công trình số 6')
('Lý Văn', 'Năm', 'Công trình số 1')
('Lý Văn', 'Năm', 'Công trình số 2')
('Lý Văn', 'Năm', 'Công trình số 3')
('Nguyễn Thị', 'Chín', 'Công trình số 1')
('Nguyễn Thị', 'Chín', 'Công trình số 2')
('Nguyễn Thị', 'Chín', 'Công trình số 3')
('Lê Văn', 'Bốn', 'Công trình số 4')
('Lê Văn', 'Bốn', 'Công trình số 6')
('Lê Hùng', 'Sư', 'Công trình số 5')

In [12]:
#j)Danh sách tên công trình và tổng số giờ làm việc một tuần của tất cả các nhân viên tham gia từng công trình
cur.execute("select ct.tenct, sum(pc.sogiotuan) from cong_trinh as ct join phan_cong as pc on pc.mact = ct.mact group by ct.mact")
for row in cur.fetchall():
    print(row)

('Công trình số 1', 30)
('Công trình số 2', 48)
('Công trình số 3', 42)
('Công trình số 4', 98)
('Công trình số 5', 62)
('Công trình số 6', 84)

In [13]:
#k)Danh sách tên chi nhánh và lương trung bình của những nhân viên làm việc của mỗi chi nhánh
cur.execute("select cn.tencn, avg(nv.mucluong) from chi_nhanh as cn join nhan_vien as nv on cn.macn = nv.macn group by cn.macn")
for row in cur.fetchall():
    print(row)

('Chi nhánh 1', 6500000.0)
('Chi nhánh 2', 4600000.0)
('Chi nhánh 3', 4425000.0)

In [14]:
#l) Mức lương trung bình của tất cả những nhân viên nữ.
cur.execute("select avg(mucluong) from nhan_vien where nhan_vien.phai = 'Nữ'")
for row in cur.fetchall():
    print(row)

(4166666.6666666665,)

In [58]:
#m)Danh sách tên chi nhánh và số lượng nhân viên tương ứng của chi nhánh mà có mức lương trung bình trên 4 500 000.
cur.execute("""select cn.tencn, count(nv.manv) from chi_nhanh as cn join nhan_vien as nv on cn.macn = nv.macn 
            group by cn.macn having avg(nv.mucluong) > 4500000""")
for row in cur.fetchall():
    print(row)

('Chi nhánh 1', 1)
('Chi nhánh 2', 3)

In [17]:
#n)Danh sách mã số công trình mà trong đó tên nhân viên tham gia công trình hay tên người trưởng chi nhánh phụ trách công trình đó có 4 ký tự trở lên.
cur.execute("select ct.mact from cong_trinh as ct join nhan_vien as nv on nv.macn = ct.macn where length(nv.tennv) >= 4 group by ct.mact")
for row in cur.fetchall():
    print(row)

('CT01',)
('CT02',)
('CT03',)
('CT04',)
('CT06',)

In [35]:
#o)Danh sách mã số và họ tên nhân viên có mức lương trên mức lương trung bình của chi nhánh có tên ‘Chi nhánh 2’
cur.execute("""select nv.manv, nv.honv, nv.tennv from nhan_vien as nv join chi_nhanh as cn on nv.macn = cn.macn 
            where nv.mucluong > (select avg(nv.mucluong) from nhan_vien as nv 
            join chi_nhanh as cn on nv.macn = cn.macn 
            and cn.tencn = 'Chi nhánh 2')""")
for row in cur.fetchall():
    print(row)

('N02', 'Lưu An', 'Tư')
('N04', 'Lê Kim', 'Oanh')
('N05', 'Lý Văn', 'Năm')
('N08', 'Lê Hùng', 'Sư')

In [ ]:
# cur.execute("""select avg(nv.mucluong) from nhan_vien as nv join chi_nhanh as cn on nv.macn = cn.macn 
#             where cn.tencn = 'Chi nhánh 2'""")
# for row in cur.fetchall():
#     print(row)

(4600000.0,)

In [33]:
#p. Danh sách tên chi nhánh và họ tên trưởng chi nhánh đứng đầu về số lượng nhân viên (yêu cầu tương tự cho đứng cuối). 
cur.execute("""
            select cn.tencn, nv1.honv, nv2.tennv, count(nv1.manv) from chi_nhanh cn
            join nhan_vien nv1 on nv1.manv = cn.manvptr
            join nhan_vien nv2 on nv2.macn = cn.macn
            group by cn.macn
            order by count(nv1.manv) desc""")
for row in cur.fetchall():
    print(row)

('Chi nhánh 3', 'Lưu An', 'An', 4)
('Chi nhánh 2', 'Lê Kim', 'Ngọc', 3)
('Chi nhánh 1', 'Lê Hùng', 'Sư', 1)

In [51]:
#cach 2
cur.execute('''select cn.macn, count(nv.manv)
            from chi_nhanh cn join nhan_vien nv on nv.macn = cn.macn group by cn.macn''')
cn = cur.fetchall()
print(cn)

cur.execute('''select nv.macn, nv.honv, nv.tennv from chi_nhanh cn join nhan_vien nv
            on cn.manvptr = nv.manv
            ''')
ht = cur.fetchall()
print(ht)

results = []
for temp in ht:
    r = [temp[1], temp[2]]
    for i in cn:
        if temp[0] == i[0]:
            r.append(i[1])
    results.append(r)

print(results)

[('C01', 1), ('C02', 3), ('C03', 4)]
[('C01', 'Lê Hùng', 'Sư'), ('C02', 'Lê Kim', 'Oanh'), ('C03', 'Lưu An', 'Tư')]
[['Lê Hùng', 'Sư', 1], ['Lê Kim', 'Oanh', 3], ['Lưu An', 'Tư', 4]]

In [ ]:
#q. Danh sách mã số, họ tên nhân viên trùng tên với nhau. Mỗi cặp chỉ liệt kê 1 lần, ví dụ đã liệt kê (i,j) thì không liệt kê lại (j, i).
cur.execute("""
            select nv1.manv, nv1.honv, nv1.tennv from nhan_vien nv1, nhan_vien nv2 
            where nv1.tennv = nv2.tennv 
            group by nv1.manv""")
for row in cur.fetchall():
    print(row)

('N01', 'Trần Ngọc', 'An')
('N02', 'Lưu An', 'Tư')
('N03', 'Lý Thanh', 'Ngọc')
('N04', 'Lê Kim', 'Oanh')
('N05', 'Lý Văn', 'Năm')
('N06', 'Nguyễn Thị', 'Chín')
('N07', 'Lê Văn', 'Bốn')
('N08', 'Lê Hùng', 'Sư')