In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('test.db')
cur = con.cursor()

In [ ]:
chi_nhanh = [
    ('C01', 'Chi nhánh 1', 'N08', '2006/02/16'),
    ('C02', 'Chi nhánh 2', 'N04', '2005/12/10'),
    ('C03', 'Chi nhánh 3', 'N02', '2004/03/07'),
]
cur.executemany("INSERT INTO CHI_NHANH VALUES (?, ?, ?, ?)", chi_nhanh)
con.commit()

In [15]:
cur.execute("SELECT * FROM CHI_NHANH")
for row in cur.fetchall():
    print(row)

('C01', 'Chi nhánh 1', 'N08', '2006/02/16')
('C02', 'Chi nhánh 2', 'N04', '2005/12/10')
('C03', 'Chi nhánh 3', 'N02', '2004/03/07')

In [21]:
thanh_pho = [
    ('01', 'Hà Nội'),
    ('02', 'TPHCM'),
    ('03', 'Đà Nẵng'),
    ('04', 'Cần Thơ')
]
cur.executemany("INSERT INTO thanh_pho VALUES (?, ?)", thanh_pho)
con.commit()

In [22]:
cur.execute("select * from thanh_pho")
for row in cur.fetchall():
    print(row)

('01', 'Hà Nội')
('02', 'TPHCM')
('03', 'Đà Nẵng')
('04', 'Cần Thơ')

In [70]:
nhan_vien = [
    ('N01', 'Trần Ngọc', 'An', 'Nam', '1965-11-10', '4 500 000', 'C03', 'N02'),
    ('N02', 'Lưu An', 'Tư', 'Nam', '1980-12-10', '5 200 000', 'C03', None),
    ('N03', 'Lý Thanh', 'Ngọc', 'Nữ', '1988-09-25', '4 300000', 'C02', 'N04'),
    ('N04', 'Lê Kim', 'Oanh', 'Nữ', '1975-06-22', '5 000 000', 'C02', None),
    ('N05', 'Lý Văn', 'Năm', 'Nam', '1988-03-07', '4 800 000', 'C03', 'N02'),
    ('N06', 'Nguyễn Thị', 'Chín', 'Nữ', '1968-07-16', '3 200 000', 'C03', 'N05'),
    ('N07', 'Lê Văn', 'Bốn', 'Nam', '1970-07-18', '4 500 000', 'C02', 'N04'),
    ('N08', 'Lê Hùng', 'Sư', 'Nam', '1965-12-25', '6 500 000', 'C01', None)
]
cur.executemany("INSERT INTO nhan_vien VALUES (?,?,?,?,?,?,?,?)", nhan_vien)
con.commit()

In [71]:
cur.execute('select * from nhan_vien')
for row in cur.fetchall():
    print(row)

('N01', 'Trần Ngọc', 'An', 'Nam', '1965-11-10', '4 500 000', 'C03', 'N02')
('N02', 'Lưu An', 'Tư', 'Nam', '1980-12-10', '5 200 000', 'C03', None)
('N03', 'Lý Thanh', 'Ngọc', 'Nữ', '1988-09-25', '4 300000', 'C02', 'N04')
('N04', 'Lê Kim', 'Oanh', 'Nữ', '1975-06-22', '5 000 000', 'C02', None)
('N05', 'Lý Văn', 'Năm', 'Nam', '1988-03-07', '4 800 000', 'C03', 'N02')
('N06', 'Nguyễn Thị', 'Chín', 'Nữ', '1968-07-16', '3 200 000', 'C03', 'N05')
('N07', 'Lê Văn', 'Bốn', 'Nam', '1970-07-18', '4 500 000', 'C02', 'N04')
('N08', 'Lê Hùng', 'Sư', 'Nam', '1965-12-25', '6 500 000', 'C01', None)

In [38]:
vp_cn = [
    ('C01', '01'),
    ('C02', '02'),
    ('C03', '03'),
    ('C03', '04'),
    ('C03', '01')
]
cur.executemany("insert into vphong_cn values (?, ?)", vp_cn)
con.commit()

In [39]:
cur.execute('select * from vphong_cn')
for row in cur.fetchall():
    print(row)

('C01', '01')
('C02', '02')
('C03', '03')
('C03', '04')
('C03', '01')

In [40]:
cong_trinh = [
    ('CT01', 'Công trình số 1', '2007/03/07', '2007/05/15', '03', 'C03'),
    ('CT02', 'Công trình số 2', '2007/02/16', '2007/05/15', '04', 'C03'),
    ('CT03', 'Công trình số 3', '2006/07/16', '2007/07/18', '01', 'C03'),
    ('CT04', 'Công trình số 4', '2008/07/18', '2008/12/25', '02', 'C02'),
    ('CT05', 'Công trình số 5', '2008/06/22', '2008/12/25', '01', 'C01'),
    ('CT06', 'Công trình số 6', '2009/06/22', '2009/12/10', '02', 'C02')
]
cur.executemany("INSERT INTO cong_trinh VALUES (?, ?, ?, ?, ?, ?)", cong_trinh)
con.commit()

In [41]:
cur.execute('select * from cong_trinh')
for row in cur.fetchall():
    print(row)

('CT01', 'Công trình số 1', '2007/03/07', '2007/05/15', '03', 'C03')
('CT02', 'Công trình số 2', '2007/02/16', '2007/05/15', '04', 'C03')
('CT03', 'Công trình số 3', '2006/07/16', '2007/07/18', '01', 'C03')
('CT04', 'Công trình số 4', '2008/07/18', '2008/12/25', '02', 'C02')
('CT05', 'Công trình số 5', '2008/06/22', '2008/12/25', '01', 'C01')
('CT06', 'Công trình số 6', '2009/06/22', '2009/12/10', '02', 'C02')

In [42]:
phan_cong = [
    ('N01', 'CT01', '18'),
    ('N01', 'CT02', '30'),
    ('N05', 'CT03', '20'),
    ('N06', 'CT04', '26'),
    ('N06', 'CT05', '12'),
    ('N02', 'CT01', '12'),
    ('N02', 'CT06', '20'),
    ('N02', 'CT02', '18'),
    ('N02', 'CT03', '22'),
    ('N02', 'CT04', '32'),
    ('N02', 'CT05', '16'),
    ('N03', 'CT06', '8'),
    ('N03', 'CT04', '28'),
    ('N07', 'CT04', '12'),
    ('N07', 'CT06', '32'),
    ('N04', 'CT06', '24'),
    ('N04', 'CT05', '16'),
    ('N08', 'CT05', '18')
]
cur.executemany('insert into phan_cong values (?, ?, ?)', phan_cong)
con.commit()

In [43]:
cur.execute('select * from phan_cong')
for row in cur.fetchall():
    print(row)

('N01', 'CT01', 18)
('N01', 'CT02', 30)
('N05', 'CT03', 20)
('N06', 'CT04', 26)
('N06', 'CT05', 12)
('N02', 'CT01', 12)
('N02', 'CT06', 20)
('N02', 'CT02', 18)
('N02', 'CT03', 22)
('N02', 'CT04', 32)
('N02', 'CT05', 16)
('N03', 'CT06', 8)
('N03', 'CT04', 28)
('N07', 'CT04', 12)
('N07', 'CT06', 32)
('N04', 'CT06', 24)
('N04', 'CT05', 16)
('N08', 'CT05', 18)

In [ ]:
than_nhan = [
    ('N01', 'Trần Đình Toàn','1980/11/30','Nam','Con'),
    ('N03', 'Lý Vệ','1990/01/30', 'Nam', 'Anh Ruột'),
    ('N03', 'Lý Ngọc Nữ','1980/03/30', 'Nữ', 'Chị ruột'),
    ('N06', 'Nguyễn A','1981/11/11', 'Nam', 'Con'),
    ('N08', 'Lê Lựu','1983/05/30', 'Nam', 'Con nuôi')
]
cur.executemany('insert into than_nhan values (?, ?, ?, ?, ?)', than_nhan)
con.commit()

In [8]:
cur.execute('select * from than_nhan')
for row in cur.fetchall():
    print(row)

('N01', 'Trần Đình Toàn', '1980/11/30', 'Nam', 'Con')
('N03', 'Lý Vệ', '1990/01/30', 'Nam', 'Anh Ruột')
('N03', 'Lý Ngọc Nữ', '1980/03/30', 'Nữ', 'Chị ruột')
('N06', 'Nguyễn A', '1981/11/11', 'Nam', 'Con')
('N08', 'Lê Lựu', '1983/05/30', 'Nam', 'Con nuôi')

In [4]:
#a)
cur.execute("select nhan_vien.manv, chi_nhanh.tencn from nhan_vien join chi_nhanh on nhan_vien.macn = chi_nhanh.macn where '4 000 000' <= nhan_vien.mucluong <= '5 000 000'")
for row in cur.fetchall():
    print(row)

('N01', 'Chi nhánh 3')
('N02', 'Chi nhánh 3')
('N03', 'Chi nhánh 2')
('N04', 'Chi nhánh 2')
('N05', 'Chi nhánh 3')
('N06', 'Chi nhánh 3')
('N07', 'Chi nhánh 2')
('N08', 'Chi nhánh 1')

In [5]:
#b) danh sach tat ca nhan vien nu tren 40 tuoi
cur.execute("select * from nhan_vien where phai = 'Nữ' and strftime('%Y', 'now') - strftime('%Y', ngaysinh) > 40")
for row in cur.fetchall():
    print(row)

('N04', 'Lê Kim', 'Oanh', 'Nữ', '1975-06-22', '5 000 000', 'C02', None)
('N06', 'Nguyễn Thị', 'Chín', 'Nữ', '1968-07-16', '3 200 000', 'C03', 'N05')

In [6]:
# c)Danh sách tất cả những nhân viên nữ trên 40 tuổi
cur.execute("select cong_trinh.tenct, * from cong_trinh join chi_nhanh on cong_trinh.macn = chi_nhanh.macn order by cong_trinh.macn")
for row in cur.fetchall():
    print(row)

('Công trình số 5', 'CT05', 'Công trình số 5', '2008/06/22', '2008/12/25', '01', 'C01', 'C01', 'Chi nhánh 1', 'N08', '2006/02/16')
('Công trình số 4', 'CT04', 'Công trình số 4', '2008/07/18', '2008/12/25', '02', 'C02', 'C02', 'Chi nhánh 2', 'N04', '2005/12/10')
('Công trình số 6', 'CT06', 'Công trình số 6', '2009/06/22', '2009/12/10', '02', 'C02', 'C02', 'Chi nhánh 2', 'N04', '2005/12/10')
('Công trình số 1', 'CT01', 'Công trình số 1', '2007/03/07', '2007/05/15', '03', 'C03', 'C03', 'Chi nhánh 3', 'N02', '2004/03/07')
('Công trình số 2', 'CT02', 'Công trình số 2', '2007/02/16', '2007/05/15', '04', 'C03', 'C03', 'Chi nhánh 3', 'N02', '2004/03/07')
('Công trình số 3', 'CT03', 'Công trình số 3', '2006/07/16', '2007/07/18', '01', 'C03', 'C03', 'Chi nhánh 3', 'N02', '2004/03/07')

In [7]:
#d)Danh sách mã số, họ tên và ngày nhậm chức của người phụ trách của từng chi nhánh
cur.execute("select chi_nhanh.manvptr, nhan_vien.honv, nhan_vien.tennv, nhan_vien.macn, chi_nhanh.tencn, chi_nhanh.ngaynhamchuc from nhan_vien join chi_nhanh on nhan_vien.macn = chi_nhanh.macn where nhan_vien.manv = chi_nhanh.manvptr")
for row in cur.fetchall():
    print(row)

('N02', 'Lưu An', 'Tư', 'C03', 'Chi nhánh 3', '2004/03/07')
('N04', 'Lê Kim', 'Oanh', 'C02', 'Chi nhánh 2', '2005/12/10')
('N08', 'Lê Hùng', 'Sư', 'C01', 'Chi nhánh 1', '2006/02/16')

In [8]:
#e)Danh sách mã số, họ tên nhân viên, mã công trình và tên công trình mà trong đó nhân viên tham gia công trình với thời gian làm việc hơn 25 giờ/tuần.
cur.execute("""select nhan_vien.manv, nhan_vien.honv, nhan_vien.tennv, phan_cong.mact, phan_cong.sogiotuan, cong_trinh.tenct from nhan_vien
            join phan_cong on nhan_vien.manv = phan_cong.manv
            join cong_trinh on phan_cong.mact = cong_trinh.mact
            where phan_cong.sogiotuan > 25""")
for row in cur.fetchall():
    print(row)

('N01', 'Trần Ngọc', 'An', 'CT02', 30, 'Công trình số 2')
('N06', 'Nguyễn Thị', 'Chín', 'CT04', 26, 'Công trình số 4')
('N02', 'Lưu An', 'Tư', 'CT04', 32, 'Công trình số 4')
('N03', 'Lý Thanh', 'Ngọc', 'CT04', 28, 'Công trình số 4')
('N07', 'Lê Văn', 'Bốn', 'CT06', 32, 'Công trình số 6')

In [9]:
#f)Danh sách mã số và tên của những công trình do các chi nhánh khác nhau thi công nhưng lại ở cùng thành phố. Mỗi cặp chỉ liệt kê 1 lần, ví dụ đã liệt kê (i, j) thì không liệt kê lại (j, i).
cur.execute("""select ct1.mact, ct1.tenct, ct2.mact, ct2.tenct from cong_trinh as ct1, cong_trinh as ct2 where ct1.macn <> ct2.macn and ct1.matp = ct2.matp and ct1.mact < ct2.mact""")
for row in cur.fetchall():
    print(row)

('CT03', 'Công trình số 3', 'CT05', 'Công trình số 5')

In [ ]:
#g)
cur.execute("select ct.mact, ct.tenct from cong_trinh as ct join vphong_cn as vpcn on ct.macn = vpcn.macn where vpcn.matp = ct.matp")
for row in cur.fetchall():
    print(row)

('CT01', 'Công trình số 1')
('CT02', 'Công trình số 2')
('CT03', 'Công trình số 3')
('CT04', 'Công trình số 4')
('CT05', 'Công trình số 5')
('CT06', 'Công trình số 6')